@keyframes float {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.connestWithUs {
  max-width: 420px;
  margin: 0 auto;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 36px 66px 44px;
  margin-bottom: 189px;
  background-image: url('../../../../assets/images/circle-blue.svg');
  background-repeat: no-repeat;
  transition:  0.3s;
  animation-name: float;
  animation-duration: 1s;
  background-size: auto;
}

.title {
  font-family: "Rubik";
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
  position: relative;
  margin-bottom: 33px;
  transition:  0.3s;
}

.title::after {
  content: "";
  position: absolute;
  left: 50%;
  transform: translate(-50%);
  bottom: -7px;
  width: 33px;
  height: 2px;
  background: var(--text-color);
  border-radius: 100px;
  transition:  0.3s;
}

.connestBtn {
  background: var(--connect-with-us-btn);
  border: 2px solid #0085ff;
  border-radius: 15px;
  padding: 16px 15px 16px;
  font-family: "Rubik";
  font-style: normal;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: #0085ff;
  display: flex;
  align-items: center;
  gap: 14px;
  transition:  0.3s;
}

.buttons {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.imgRobot {
  width: 24px;
  height: 24px;
}

.imgTg {
  width: 29px;
  height: 29px;
}

.imgArrow {
  margin-left: auto;
  width: 25px;
  height: 25px;
}

@media (max-width: 500px) {

  .title {
    font-size: 12.5714px;
    margin-bottom: 25.86px;
    line-height: 15px;
  }

  .connestBtn {
    font-size: 10.2143px;
    padding: 13px 18px;
  }

  .imgRobot{
    width: 18.86px;
    height: 18.86px;
  }

  .imgTg  {
    width: 22.79px;
    height: 22.79px;
  }

  .connestWithUs {
    padding: 28.29px 51.86px 42.43px;
    background-size: 144px 221px;
    margin-bottom: 449px;
    max-width: 330px;
  }

  .buttons {
    gap: 15.71px;
  }

  .connestBtn {
    border: 1.57143px solid #0085FF;
    border-radius: 11.7857px;
    padding: 10.99857px 15.71px 10.99857px 18.07px;
    line-height: 12px;
  }
  
  .connestBtn:last-child {
    padding: 9.42857px 15.71px;
  }

  .imgArrow {
    width: 19.64px;
    height: 19.64px;
  }
  .imgArrow img, .imgTg img, .imgRobot img {
    width: 100%;
  }
}