@keyframes float {
  0% {
    opacity: 0.3;
  }
  100% {
    opacity: 1;
  }
}

@keyframes floatArrow {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes shadow {
  0% {
    box-shadow: inset 120px 120px rgb(0 0 0 / 0%);
  }
  100% {
    box-shadow: inset 120px 120px rgb(0 0 0 / 50%);
  }
}

.title {
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #0066ff;
  padding: 19px 28px;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-bottom: 85px;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 85px;
  margin-top: 59px;
  animation-name: float;
  animation-duration: 1s;
}

.statsBlock {
  max-width: 867px;
  margin: 0 auto;
  background: var(--background-modal-settings);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  padding-bottom: 115px;
  margin-bottom: 50px;

  animation-name: float;
  animation-duration: 1s;
}

.statsBlockHeader {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 36px;
  align-items: center;
  background: var(--stat-header);
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  padding: 21px 22px 22px 44px;
  margin-bottom: 59px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 21px;
}

.avatarContainerImg {
  width: 62px;
  height: 62px;
  background-color: black;
  border-radius: 50%;
  border: 2.54795px solid #4f9dff;
}

.headerTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
  transition: 0.3s;
}

.dataRegister {
  max-width: 149px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  transition: 0.3s;
  opacity: 0.5;
}

.dataRegisterBlock {
  display: flex;
  gap: 13px;
}

.email {
  background: var(--pay-input);
  border-radius: 15px;
  border: none;
  padding: 19px 27px 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--stats-color);
  transition: 0.3s;
}

.dataRegisterBtn {
  background: #0085ff;
  border-radius: 15px;
  padding: 18px 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.stats {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 29px;
}

.statsLeft,
.statsRight {
  max-width: 280px;
  width: 100%;
  margin-bottom: 10px;
}

.statsItem {
  margin-bottom: 10px;
  padding: 15px 24px;
  background: var(--stats-item);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  border-radius: 12.3707px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--text-color);
  display: flex;
  display: flex;
  gap: 8px;
  align-items: center;
  transition: 0.3s;
}

.statsItem:last-child {
  margin-bottom: 0;
}

.statsItem span {
  color: #0071ff;
}

.statsItemBtn {
  padding-top: 16px;
  padding-bottom: 16px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #0071ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12.3707px;
  width: 100%;
  max-width: 280px;
}

.statsInfo {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  gap: 45px;
  width: 100%;
}

.statsButtons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 272px;
  flex-wrap: wrap;
}

.statsButton {
  width: 120px;
  height: 120px;
  border-radius: 23px;
  position: relative;
}

.statsButton:hover {
  box-shadow: inset 120px 120px rgb(0 0 0 / 50%);
  animation-name: shadow;
  animation-duration: 0.5s;
}

.statsButton:hover::after {
  z-index: 1;
  content: attr(data-text);
  padding: 11px 21px;
  background: #2894f8;
  border-radius: 9px;
  display: block;
  position: absolute;
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  text-align: center;
  color: #ffffff;
  top: -75px;
  left: 50%;
  animation-name: float;
  animation-duration: 0.4s;
  transform: translate(-50%, 6px);
}

.statsButton:hover::before {
  z-index: 1;
  width: 27px;
  height: 24px;
  background-size: auto;
  content: "";
  background-image: url("../../../assets/images/2.svg");
  background-repeat: no-repeat;
  display: block;
  position: absolute;
  top: -50px;
  left: 50%;
  animation-name: float;
  animation-duration: 0.5s;
  transform: translate(-50%, 6px);
}

.statsButton:nth-child(1),
.statsButton:nth-child(2),
.statsButton:nth-child(3),
.statsButton:nth-child(4),
.statsButton:nth-child(5),
.statsButton:nth-child(6),
.statsButton:nth-child(7) {
  background-repeat: no-repeat;
  background-size: auto;
  background-position: center;
}

.statsButton:nth-child(1) {
  background-image: url("../../../assets/images/vetryc-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.statsButton:nth-child(2) {
  background-image: url("../../../assets/images/window-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.statsButton:nth-child(3) {
  background-image: url("../../../assets/images/server-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.statsButton:nth-child(4) {
  background-image: url("../../../assets/images/kirka-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.statsButton:nth-child(5) {
  background-image: url("../../../assets/images/house-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.statsButton:nth-child(6) {
  background-image: url("../../../assets/images/house2-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.statsButton:nth-child(7) {
  background-image: url("../../../assets/images/sviz-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
}

.TopsPlayers {
  margin-bottom: 50px;
  max-width: 1180px;
  max-height: 1004px;
  margin: 0 auto;
  background: var(--background-modal-settings);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  padding-bottom: 55px;
  margin-bottom: 50px;
  transition: 0.3s;
  position: relative;
}

.TopsPlayers::before {
  content: "";
  width: 165px;
  height: 153.16px;
  position: absolute;
  background-image: url("../../../assets/images/perStat-topPlayers.png");
  background-repeat: no-repeat;
  background-size: auto;
  top: -153px;
  right: 50%;
  transform: translateX(50%);
}

.TopsPlayersHeader {
  background: #3991ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 18px;
  padding-bottom: 19px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

.TopsPlayersFilter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.TopsPlayyersFilterBtn {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 358px;
  margin-bottom: 25px;
  background: var(--top-filter-back);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0071ff;
  gap: 8px;
  transition: 0.3s;
}

.TopsPlayyersFilterBtn svg path {
  stroke: #0071ff;
}

.ActiveTopsPlayyersFilterBtn {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 358px;
  margin-bottom: 25px;
  background: #0071ff;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  gap: 8px;
}

.ActiveTopsPlayyersFilterBtn svg path {
  stroke: white;
}

.TopsPlayyersFilterBtn:first-child,
.ActiveTopsPlayyersFilterBtn:first-child {
  border-radius: 17px 0px 0px 17px;
}

.TopsPlayyersFilterBtn:last-child,
.ActiveTopsPlayyersFilterBtn:last-child {
  border-radius: 0px 17px 17px 0px;
}

.TopsPlayersBlock {
  max-height: 770px;
  overflow-y: scroll;
}

.TopsPlayersBlock::-webkit-scrollbar {
  scroll-padding-top: 30px;
  width: 6px;
  background-color: transparent;
}

.TopsPlayersBlock::-webkit-scrollbar-thumb {
  background: rgba(0, 133, 255, 0.2);
  border-radius: 100px;
}

.active::-webkit-scrollbar-thumb {
  opacity: 0;
  transition: 1s;
  background: rgba(0, 133, 255, 1);
}

.TopsPlayersBlockTitle {
  padding: 18px 48px;
  background: var(--top-header-table);
  border-radius: 17px 17px 0px 0px;
  max-width: 1095px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0071ff;
  margin-bottom: 25px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 2fr 1fr;
  transition: 0.3s;
}

.TopsPlayersBlockList {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.icon * {
  stroke: var(--icon-fill);
  transition: 0.3s;
}

.iconVert path {
  fill: var(--icon-fill);
  transition: 0.3s;
}

.buttons {
  display: flex;
  gap: 45px;
  width: 100%;
  justify-content: center;
}

@media (max-width: 945px) {
  .statsBlock {
    padding-bottom: 49px;
  }
}

@media (max-width: 735px) {
  .buttons {
    flex-wrap: wrap;
    gap: 10px;
    flex-direction: column;
    align-items: center;
  }

  .statsInfo {
    gap: 0;
    flex-direction: column;
    align-items: center;
  }

  .stats {
    gap: 22px;
  }

  .statsButtons {
    margin-bottom: 116px;
  }
}

@media (max-width: 540px) {
  .TopsPlayers::before {
    width: 94px;
    height: 87.16px;
    background-size: 94px 87.16px;
    top: -87px;
  }

  .avatarContainer {
    gap: 11.3px;
  }

  .headerTitle {
    font-size: 12px;
  }

  .avatarContainerImg {
    width: 35.7px;
    height: 35.7px;
  }

  .dataRegister {
    font-size: 12px;
    line-height: 14px;
    max-width: 127px;
  }

  .email {
    font-size: 9.22581px;
    padding: 13px 19px;
  }

  .dataRegisterBtn {
    font-size: 9.93548px;
    padding: 12px 20px;
  }

  .statsBlockHeader {
    gap: 13px;
    padding: 23px 22px 24px 23px;
    margin-bottom: 35px;
  }

  .statsButton {
    width: 81.38px;
    height: 82.76px;
  }

  .statsButton:nth-child(1) {
    background-image: url("../../../assets/images/vetryc-stat.svg"), linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
    background-size: 81.38px 82.76px;
  }

  .TopsRatings {
    padding-left: 15px;
  }

  .TopsPlayersHeader {
    font-size: 13px;
    line-height: 15px;
    padding-top: 12px;
    padding-bottom: 11.2px;
    margin-bottom: 21px;
  }

  .TopsPlayersFilter {
    padding-right: 15px;
  }

  .topIcon {
    width: 19.72px;
    height: 19.72px;
  }

  .TopsPlayyersFilterBtn {
    font-size: 9.04969px;
    padding-top: 9.61px;
    padding-bottom: 8.85px;
    line-height: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .ActiveTopsPlayyersFilterBtn {
    font-size: 9.04969px;
    padding-top: 9.61px;
    padding-bottom: 8.85px;
    line-height: 11px;
    padding-top: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
  }

  .ActiveTopsPlayyersFilterBtn svg,
  .TopsPlayyersFilterBtn svg {
    width: 13.57px;
    height: 13.57px;
  }

  .TopsPlayyersFilterBtn:first-child,
  .ActiveTopsPlayyersFilterBtn:first-child {
    border-radius: 8.54094px 0px 0px 8.54094px;
  }

  .TopsPlayyersFilterBtn:last-child,
  .ActiveTopsPlayyersFilterBtn:last-child {
    border-radius: 0px 8.54094px 8.54094px 0px;
  }

  .TopsPlayersFilter {
    gap: 4.5px;
  }

  .TopsPlayersBlockTitle {
    font-size: 12px;
    grid-template-columns: 1fr 1fr 1fr;
    padding: 9px 36px;
    margin-bottom: 21px;
    margin-right: 8px;
  }

  .TopsPlayers {
    padding-bottom: 35px;
    margin-bottom: 69px;
  }

  .TopsPlayersBlockList {
    margin-right: 8px;
    gap: 15.16px;
  }

  .TopsPlayersBlock::-webkit-scrollbar {
    scroll-padding-top: 30px;
    width: 6px;
    background-color: transparent;
  }

  .TopsPlayersBlock::-webkit-scrollbar-thumb {
    background: rgba(0, 133, 255, 0.2);
    border-radius: 100px;
  }

  .active::-webkit-scrollbar-thumb {
    opacity: 0;
    transition: 1s;
    background: rgba(0, 133, 255, 1);
  }

  .title {
    font-size: 18.0714px;
    padding: 15px 17px;
    margin-bottom: 43px;
  }
}
