.title {
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #0066ff;
  padding: 19px 28px;
  background: var(--background-modal-settings);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin-bottom: 85px;
  width: max-content;
  margin: 0 auto;
  margin-bottom: 85px;
}

.statsBlock {
  max-width: 876px;
  margin: 0 auto;
  background: var(--background-modal-settings);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  padding-bottom: 115px;
  margin-bottom: 50px;
}

.statsBlockHeader {
  display: flex;
  justify-content: space-between;
  gap: 36px;
  padding-bottom: 21px;
  align-items: center;
  background: var(--stat-header);
  box-shadow: 0px 7px 13px rgba(0, 0, 0, 0.1);
  border-radius: 25px 25px 0px 0px;
  padding: 21px 22px 26px 44px;
  margin-bottom: 75px;
}

.avatarContainer {
  display: flex;
  align-items: center;
  gap: 21px;
}

.avatarContainerImg {
  width: 62px;
  height: 62px;
  background-color: black;
  border-radius: 50%;
  border: 2.54795px solid #4F9DFF;
}

.headerTitle {
  font-weight: 600;
  font-size: 24px;
  line-height: 28px;
  color: var(--text-color);
}

.dataRegister {
  max-width: 149px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: var(--text-color);
  opacity: 0.5;
}

.dataRegisterBlock {
  display: flex;
  gap: 13px;
}

.email {
  background: var(--pay-input);
  border-radius: 15px;
  border: none;
  padding: 19px 27px 18px;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--stats-color);
}

.dataRegisterBtn {
  background: #0085ff;
  border-radius: 15px;
  padding: 18px 29px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
}

.stats {
  display: flex;
  justify-content: center;
  gap: 45px;
}

.statsItem {
  margin-bottom: 10px;
  padding: 15px 24px;
  background: var(--stats-item);
  box-shadow: 0px 3px 10px rgba(0, 0, 0, 0.07);
  border-radius: 12.3707px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--text-color);
  display: flex;
  display: flex;
  gap: 8px;
  align-items: center;
}

.statsItem span {
  color: #0071ff;
}

.statsItemBtn {
  padding: 16px 66px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  background: #0071ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 12.3707px;
}

.statsButtons {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 272px;
}

.statsButton {
  width: 120px;
  height: 120px;
  background: linear-gradient(180deg, #0085ff 0%, #0047ff 100%);
  border-radius: 23px;
}

.TopsPlayers {
  margin-bottom: 50px;
  max-width: 1180px;
  margin: 0 auto;
  background: var(--background-modal-settings);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  padding-bottom: 55px;
  margin-bottom: 50px;
}

.TopsPlayersHeader {
  background: #3991ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px 25px 0px 0px;
  text-align: center;
  margin-bottom: 25px;
  padding-top: 18px;
  padding-bottom: 19px;
  font-weight: 600;
  font-size: 20px;
  line-height: 24px;
  color: #ffffff;
  display: flex;
  gap: 9px;
  align-items: center;
  justify-content: center;
}

.TopsPlayersFilter {
  display: flex;
  justify-content: center;
  gap: 10px;
}

.TopsPlayyersFilterBtn {
  padding-top: 19px;
  padding-bottom: 19px;
  width: 358px;
  margin-bottom: 25px;
  background: var(--top-filter-back);
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #0071ff;
}

.TopsPlayyersFilterBtn:first-child {
  border-radius: 17px 0px 0px 17px;
}

.TopsPlayyersFilterBtn:last-child {
  border-radius: 0px 17px 17px 0px;
}

.TopsPlayersBlockTitle {
  padding: 18px 48px;
  background: var(--top-header-table);
  border-radius: 17px 17px 0px 0px;
  width: 1095px;
  margin: 0 auto;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  color: #0071FF;
  margin-bottom: 25px;
  display: grid;
  align-items: center;
  grid-template-columns: 2fr 4fr 1fr;
}

.TopsPlayersBlockList {
  display: flex;
  flex-direction: column;
  gap: 13px;
}

.icon * {
  stroke: var(--icon-fill);
}

.iconVert path {
  fill: var(--icon-fill);
}
