.newsPost {
  display: flex;
  gap: 53px;
  padding: 13px 16px;
  background: var(--background-post);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  color: var(--text-color);
  transition:  0.3s;
}

.postImgContainer {
  max-width: 192px;
  width: 100%;
  height: 193px;
  border-radius: 25px;
}

.postContainer {
  display: flex;
  flex-direction: column;
  padding-top: 19px;
}

.postHeader {
  display: flex;
  align-items: center;
  margin-bottom: 23px;
}

.postTitle {
  margin-right: 36px;
}

.postData {
  margin-left: auto;
}

.postDescription {
  margin-bottom: 12px;
}

.postFullBtn {
  margin-left: auto;
  padding: 15px;
  background: #0071FF;
  border-radius: 14px;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
  display: flex;
  align-items: center;
}

.arrow * {
  fill: white;
}

.stars li {
  margin-inline-end: 0px!important;
}



@media (max-width: 850px) {

  .postImgContainer {
    width: 241px;
    max-width: 241px;
    height: 243px;
  }

  .postImgContainer img {
    width: 100%;
  }

  .newsBlock {
    flex-direction: column-reverse;
    align-items: center;
  }

  .postContainer {
    align-items: center;
    padding-top: 0;
  }

  .newsPost {
    flex-direction: column;
    align-items: center;
    margin: 31px 25px;
    padding: 16px 19px 33.5px;
    gap: 21px;
  }
  
  .postHeader {
    flex-direction: column;
  }

  .postData {
    margin-left: inherit;
  }

  .postTitle {
    margin-right: inherit;
    margin-bottom: 7.1px;
  }

  .postDescription {
    font-size: 15.0673px;
  }

  .stars {
    margin-bottom: 11px;
  }

  .postFullBtn {
    margin-left: inherit;
    max-width: 129.79px;
    padding: 13px 12px;
  }
  
}

