.main {
  position: relative;
  max-width: 1350px;
  padding-left: 85px;
  padding-right: 85px;
  align-self: center;
  width: 100%;
}

.header {
  position: relative;
  padding: 48.5px;
}


@media (max-width: 920px) {
  .main {
    padding-left: 32px;
    padding-right: 32px;
  }
}