@keyframes float {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.newsTitle {
  width: max-content;
  background: var(--background-modal);
  margin-top: 59px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 79px;
  padding: 19px 38px 18px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #0066ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  transition:  0.3s;
  animation-name: float;
  animation-duration: 1s;
}

.newsBlock {
  display: flex;
  justify-content: space-between;
  gap: 25px;
  animation-name: float;
  animation-duration: 1s;
}

.newsBlockLeft {
  max-width: 316px;
  width: 100%;
}

.newsBlockTg {
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 26px 31px;
  height: 278px;
  margin-bottom: 35px;
  background-image: url("../../../assets/images/news-tg-icon.png"), url("../../../assets/images/panda-news-tgBlock.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left -4px bottom, right bottom -7px;
  transition:  0.3s;
}

.tgTitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0085ff;
  margin-bottom: 8px;
}

.tgText {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  margin-bottom: 13px;
  transition:  0.3s;
}

.arrow * {
  fill: var(--text-color);
  transition:  0.3s;
}

.tgBtn {
  padding: 14px 38px;
  background: #0085ff;
  border-radius: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #ffffff;
}

.stats div {
  width: max-content;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: var(--text-color);
  padding: 15px 22px;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 13px;
  margin-bottom: 17px;
  transition:  0.3s;
}

.stats div:not(:last-child) span {
  color: #0071ff;
}

.stats div:last-child span {
  color: #19b400;
}

.newsBlockRight {
  max-width: 839px;
  position: relative;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: flex-start;
  padding: 22px 81px 23px 36px;
  background: var(--background-modal);
  box-shadow: 0px 3.0662px 3.0662px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 30px;
  transition:  0.3s;
}

.filterBtn {
  max-width: 423px;
  width: 100%;

  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  gap: 7px;
  align-items: center;
  color: #8f8f8f;
}

.sortBtns1, .sortBtns2 {
  display: flex;
  background: transparent;
  color: var(--text-color);
  align-items: center;
  transition:  0.2s;
  transition:  0.3s;

  font-weight: 500;
}

.sortBtns1 .arrow, .sortBtns2 .arrow {
  transform: rotate(0deg) translateY(-2px);
  transition:  0.2s;
}

.sortBtnsActive .arrow{
  transform: rotate(180deg) translateY(2px);
  transition: 0.2s;
}

.filterOptions {
  display: flex;
  justify-content: space-between;

  max-width: 285px;
  width: 100%;
}

.newsListContainer {
  box-sizing: border-box;
  background: var(--background-modal);
  box-shadow: 0px 3.14286px 3.14286px rgb(0 0 0 / 7%);
  padding-top: 30px;
  padding-bottom: 52px;
  max-height: 783px;
  height: 100%;
  border-radius: 25px;
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: 22px;
  height: 701px;
  padding: 0px 20px 0px 20px;
  overflow-y: scroll;
  transition:  0.3s;
}

.newsList::-webkit-scrollbar {
  width: 6px;
  background-color: transparent;
}

.newsList::-webkit-scrollbar-thumb {
  background: #0071FF;
  border-radius: 100px;
}

.newsList.newsList_shadow::after {
  content: '';
  background: linear-gradient(180deg, rgba(255, 255, 255, 0) 0%, var(--background-modal) 100%);
  border-radius: 25px;
  width: 100%;
  height: 209px;
  display: block;
  position: absolute;
  bottom: 0;
  left: 0;
  pointer-events: none;
  transition:  0.3s;
}

.newsPost {
  display: flex;
  gap: 53px;
  padding: 13px 16px;
}

.postImgContainer {
  max-width: 192px;
  width: 100%;
  height: 193px;
  background-color: aqua;
}

.postContainer {
  display: flex;
  flex-direction: column;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.postDescription {
  margin-bottom: 12px;
}

.postFullBtn {
  margin-left: auto;
  padding: 15px;
}

@media (max-width: 1400px) {
  .newsBlock {
    flex-direction: column-reverse;
    align-items: center;
  }
}

@media (max-width: 850px) {
  .leftBtn, .rightBtn {
    background: var(--slide-btn);
    box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.07);
    border-radius: 9.75px;
    width: 36px;
    height: 36px;
    position: absolute;
    top: 31px;

    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 1;
  }

  .leftBtn {
    right: -18px;
  }

  .rightBtn {
    left: -18px;
  }

  .arrowBtnPrevRight path, .arrowBtnPrevLeft path {
    stroke: var(--slide-arrow);
  }

  .arrowBtnPrevRight {
    transform: rotate(180deg);
  }

  .sliderBlock {
    position: relative;
    background: none;
    box-shadow: none;
    border-radius: 0;
  }

  .slidePostContainer {
    background: var(--slide-back);
    box-shadow: 0px 3.0662px 3.0662px rgb(0 0 0 / 7%);
    border-radius: 15px;

    padding: 31px 25px;

    float: left;
    width: 100% !important;
    position: relative;
  }
  
  .filterOptions {
    gap: 45px;
  }

  .sortBtns1, .sortBtns2 {
    font-size: 12px;
  }

  .filterBtn {
    font-size: 12px;
  }

  .filter {
    padding: 17px 20px 18px 16px;
    margin-bottom: 17px;
  }

  .sortBtns1 .arrow, .sortBtns2 .arrow {
    transform: rotate(0deg) translateY(-1px);
    transition:  0.2s;
  }
  
  .sortBtnsActive .arrow{
    transform: rotate(180deg) translateY(1px);
    transition: 0.2s;
  }

  .newsList::after {
    display: none;
  }

  .newsBlock {
    gap: 32px;
  }
}

@media (max-width: 830px) {
  .newsBlock {
    padding-left: 32px;
    padding-right: 32px;
  }
}

@media (max-width: 550px) {
  .newsTitle {
    margin-top: 47px;
    margin-bottom: 47px;
    padding: 14.93px 39.16px;
    font-size: 18.0714px;
    line-height: 21px;
  }
}