.newsTitle {
  width: max-content;
  background: #ffffff;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 79px;
  padding: 19px 38px 18px;
  border-radius: 20px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #0066FF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
}

.newsBlock {
  display: flex;
  justify-content: center;
  gap: 25px;
}

.newsBlockLeft {
  max-width: 316px;
  width: 100%;
}

.newsBlockTg {
  background: #FFFFFF;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 26px 31px;
  height: 278px;
  margin-bottom: 35px;
  background-image: url("../../../assets/images/news-tg-icon.png"), url("../../../assets/images/panda-news-tgBlock.png");
  background-repeat: no-repeat, no-repeat;
  background-position: left bottom, right bottom -7px;
}

.tgTitle {
  font-family: "Rubik";
  font-style: normal;
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #0085ff;
  margin-bottom: 8px;
}

.tgText {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom: 13px;
}

.tgBtn {
  padding: 14px 38px;
  background: #0085ff;
  border-radius: 14px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  color: #FFFFFF;
}

.stats div {
  width: max-content;
  font-weight: 500;
  font-size: 15px;
  line-height: 160%;
  color: #000000;
  padding: 15px 22px;
  background: #ffffff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 13px;
  margin-bottom: 13px;
}

.stats div:not(:last-child) span {
  color: #0071FF;
}

.stats div:last-child span {
  color: #19B400;
}

.newsBlockRight {
  max-width: 839px;
  width: 100%;
}

.filter {
  display: flex;
  justify-content: space-between;
  padding: 22px 36px 23px 81px;
  background: #FFFFFF;
  box-shadow: 0px 3.0662px 3.0662px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  margin-bottom: 30px;
}

.filterBtn {
  font-weight: 500;
  font-size: 15px;
  line-height: 18px;
  display: flex;
  gap: 7px;
  align-items: center;
  color: #8F8F8F;
}

.sortBtns {
  display: flex;
  align-items: center;
}

.filterOptions {
  display: flex;
  gap: 169px;
}

.newsList {
  display: flex;
  flex-direction: column;
  gap: 22px;
  max-height: 783px;
  padding: 30px 20px;
  background: #FFFFFF;
  box-shadow: 0px 3.14286px 3.14286px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
}

.newsPost {
  display: flex;
  gap: 53px;
  padding: 13px 16px;
}

.postImgContainer {
  max-width: 192px;
  width: 100%;
  height: 193px;
  background-color: aqua;
}

.postContainer {
  display: flex;
  flex-direction: column;
}

.postHeader {
  display: flex;
  justify-content: space-between;
  margin-bottom: 23px;
}

.postDescription {
  margin-bottom: 12px;
}

.postFullBtn {
  margin-left: auto;
  padding: 15px;
}
