@-webkit-keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.modal {
  padding: 40px 47px 130px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 25px;
}

.title {
  margin-bottom: 42px;
  position: relative;
  display: flex;
}

.title span {
  display: block;
  z-index: 1;
  background: #0071ff;
  color: white;
  border-radius: 15px;
  padding: 18px 20px;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  margin-left: auto;
  margin-right: auto;
}

.title::after {
  position: absolute;
  content: "";
  width: 20%;
  height: 49.79px;
  border-radius: 13.5789px;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 6px);
  background: var(--title-acsec1);
}



.list {
  display: grid;
  grid-template-columns: repeat(5, 72px);
  gap: 17px;
}

.listItem {
  width: 72px;
  height: 72px;
  background: var(--stats-item);
  box-shadow: 0px 4.32px 14.4px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  display: flex;
  align-items: center;
}

.active {
  background: var(--modal-sclad);
  position: relative;
}

.active img {
  margin: 0 auto;
}

.hoverEl {
  display: none;
}

.hoverEl div {
  font-weight: 500;
  font-size: 12px;
  line-height: 14px;
  color: #ffffff;
}

.active:hover .hoverEl {
  display: block;
  background: #2894f8;
  border-radius: 11px;
  position: absolute;
  padding: 12px 9px;
  max-width: 133px;
  width: 133px;
  top: -80px;
  left: 33%;

  transform: translate(-27%, 6px);
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 0.3s;
          animation-duration: 0.3s;
}

.active:hover .hoverEl::after {
  width: 27px;
  height: 24px;

  content: "";

  background-size: auto;
  background-image: url("../../../assets/images/2.svg");
  background-repeat: no-repeat;

  position: absolute;
  top: 30px;
  left: 33%;

  transform: translate(-33%, 6px);
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 0.5s;
          animation-duration: 0.5s;
}

.img {
  width: 100%;
}

@media (max-width: 540px) {

  .active:hover .hoverEl::after {
    display: none;
  }

  .active:hover .hoverEl {
    display: none;
  }
  .modal {
    padding: 38px 47px 66px;
  }
  
  .listItem {
    width: 48.28px;
    height: 48.28px;
  }

  .list {
    gap: 11.4px;
    grid-template-columns: repeat(5, 48.28px);
  }
}
