.close {
  position: absolute;
  background-color: var(--modal-close-btn-back);
  width: 35px;
  height: 35px;
  box-shadow: 0px 6.11111px 19.8611px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
  padding: 11px;
  top: 24px;
  right: 22px;
}

.closeIcon path {
  fill: var(--modal-close-btn-icon);
}

@media (max-width: 540px) {
  .close {
    padding: 7.86px;
    width: 25px;
    height: 25px;
    top: 19px;
    right: 20px;
  }  
}
