
.title {
  margin-bottom: 77px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #0066ff;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 19px 51px;
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
  opacity: 0.5;
  margin-bottom: 23px;
}

.listBtn {
  max-width: 420px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.bankCard {
  display: flex;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 16px 25px;
  gap: 17px;
  align-items: center;
  border: 3px solid #ffffff00;
}

.bankCard:hover {
  border: 3px solid #0085FF;
}

.bankCardTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
}

.bankCardSubTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--text-color);
  opacity: 0.3;
}

.bankCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.img {
  width: 58px;
  height: 58px;
}

.bankCardImg rect {
  fill: var(--card-back);
}
.bankCardImg path {
  stroke: var(--card-line);
}

.bankQiwiImg rect {
  fill: var(--qiwi-back);
}

.bankMoneyImg rect {
  fill: var(--money-back);
}