header {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 47px;
  padding: 28px 85px 37px;
  margin-bottom: 30px;
  max-width: 1350px;
  background: var(--background-modal);
  box-shadow: 0px 20px 40px rgba(0, 0, 0, 0.05);
  border-radius: 0px 0px 50px 50px;
  width: 100%;
  position: relative;
  transition:  0.3s;
  z-index: 1;
}

.modal {
  height: 100vh;
  width: 100vw;
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 1;
  pointer-events: all;
  transition: 0.5s;
}

.headerLeft {
  display: flex;
  gap: 47px;
  align-items: center;
}

.logo {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 800;
  font-size: 25px;
  line-height: 30px;
  background: linear-gradient(180deg, #0038FF 0%, #0029BA 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
}

.navOpen {
  border-radius: 0px 0px 0px 35px;
}

@media (max-width: 830px) {
  header {
    padding: 28px 25px 37px;
    border-radius: 0px 0px 35px 35px;
    gap: 23px;
    /* margin-left: 7px;
    margin-right: 7px; */
  }
}