.title {
  width: max-content;
  margin: 0 auto;
  margin-bottom: 78px;
  margin-top: 78px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  color: #0066ff;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 19px 51px;
}

.informationRow {
  max-width: 916px;
  width: 100%;

  display: flex;
  justify-content: space-between;
  gap: 42px;

  margin-left: auto;
  margin-right: auto;
}

.informationCol {
  max-width: 437px;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.RegulatBlock {
  margin-bottom: 177px;
}

@media (max-width: 1050px) {
  .informationCol {
    gap: 15px;
  }

  .informationRow {
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
  }
}

@media (max-width: 500px) {
  .title {
    padding: 15px 46px;
    font-size: 18.0714px;
    line-height: 21px;
    margin-top: 37px;
    margin-bottom: 37px;
  }

  .RegulatBlock {
    margin-bottom: 200px;
  }
}
