@keyframes float {
  0%   {opacity: 0;}
  100% {opacity: 1;}
}

.description {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 100px;
  animation-name: float;
  animation-duration: 1s;
  
}

.block::before {
  content: "";
  background-image: url('../../../../assets/images/panda-description.png');
  background-position: top left;
  background-repeat: no-repeat;
  display: block;
  width: 230px;
  height: 212px;
  position: absolute;
  left: -89px;
  top: -145px;
}

.title {
  width: max-content;
  padding: 18px 30px 19px;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  margin: 0 auto;
  font-weight: 700;
  font-size: 23px;
  text-align: center;
  color: #0066FF;
  margin-bottom: 76px;
  transition:  0.3s;
}

.block {
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-color);
  padding: 58px 66px;
  max-width: 980px;
  display: flex;
  flex-direction: column;
  transition:  0.3s;
  position: relative;
}

.block p {
  margin: 0;
}

.block p:not(:last-child) {
  margin-bottom: 15px;
}

.listImg {
  display: flex;
  gap: 8px;
}

.listImg div {
  max-width: 310px;
}

.listImg img {
  width: 100%;
}

@media (max-width: 650px) {
  .description {
    margin-bottom: 238px;
  }

  .title {
    font-size: 16.5966px;
    line-height: 20px;
    padding: 13.71px 20.65px;
  }
  
  .block::before {
    content: "";
    background-image: none;
  }

  .block {
    font-size: 10px;
    padding: 30px 33px;
    max-width: 330px;
  }

  .listImg {
    max-width: 330px;
  }

  .title {
    margin-bottom: 41px;
  }
}