nav {
  display: flex;
  gap: 21px;
  align-items: center;
}

.nav {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  padding: 10px 16px;
  color: var(--text-color);
  border-radius: 19.5px;
  transition: 0.3s;
}

.disNone {
  display: none;
}

.disBlock {
  display: block;
}

.active {
  background-color: rgba(0, 113, 255, 0.2);
  border-radius: 19.5px;
  padding: 10px 16px;
}

@media (max-width: 1040px) {
  .nav {
    font-size: 13px;
  }
}

@media (max-width: 1040px) {
  .nav {
    font-size: 13px;
  }
}

@media (max-width: 970px) {
  .nav {
    font-size: 10px;
  }

  nav {
    gap: 5px;
  }
}