@-webkit-keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes textFLoat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes textFLoat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.donatBlock {
  max-width: 420px;
  margin: 0 auto;
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
  opacity: 0.5;
  margin-bottom: 23px;
  transition: 0.3s;
  -webkit-animation-name: textFLoat;
          animation-name: textFLoat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.headerBlock {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 17px;
  margin-bottom: 26px;
}

.img {
  width: 58px;
  height: 58px;
}

.listInput {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.bankCardTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  transition: 0.3s;
}

.bankCard {
  max-width: 420px;
  margin-right: auto;
  margin-left: auto;
  background-color: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 16px 66px 53px;
  gap: 17px;
  position: relative;
  transition: 0.3s;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.inputList {
  margin-bottom: 26px;
}

.input {
  background: var(--pay-input);
  border-radius: 15px;
  padding: 21px 27px;
  border: none;
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--pay-color);
  width: 100%;
  transition: 0.3s;
  margin-bottom: 20px;
}

.input:last-child {
  margin-bottom: 0;
}

.pay {
  background: #0085ff;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 15px;
  font-weight: 500;
  font-size: 14px;
  line-height: 17px;
  text-align: center;
  color: #ffffff;
  width: 100%;
  padding-bottom: 19px;
  padding-top: 18px;
}

.back {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 36px;
  height: 36px;
  background: var(--background-modal);
  box-shadow: 0px 4px 13px rgba(0, 0, 0, 0.07);
  border-radius: 9.75px;
  position: absolute;
  left: -17px;
  top: 25px;
  transition: 0.3s;
}

.bankCardImg rect {
  fill: var(--card-back);
  transition: 0.3s;
}
.bankCardImg path {
  stroke: var(--card-line);
  transition: 0.3s;
}

.bankQiwiImg rect {
  fill: var(--qiwi-back);
  transition: 0.3s;
}

.bankMoneyImg rect {
  fill: var(--money-back);
  transition: 0.3s;
}

.arrowLeft path {
  stroke: var(--text-color);
  transition: 0.3s;
}

@media (max-width: 500px) {
  .subTitle {
    margin-bottom: 17.96px;
    font-size: 16px;
    line-height: 19px;
  }

  .back {
    width: 28.25px;
    height: 28.25px;
  }

  .bankCard {
    max-width: 330px;
    padding: 12.56px 51.79px 41.59px;
  }

  .arrowLeft {
    width: 18.83px;
    height: 18.83px;
  }

  .img {
    width: 45.51px;
    height: 45.51px;
  }

  .img svg {
    width: 45.51px;
    height: 45.51px;
  }

  .headerBlock {
    gap: 13.34px;
    margin-bottom: 20.4px;
  }

  .bankCardTitle {
    font-size: 12.5556px;
    line-height: 15px;
  }

  .input {
    font-size: 10.2014px;
    line-height: 12px;
    padding: 16.48px 21.19px;
    margin-bottom: 15.69px;
  }

  .inputList {
    margin-bottom: 20.4px;
  }

  .pay {
    padding: 15px;
    font-size: 10.9861px;
    line-height: 13px;
  }
}
