@-webkit-keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@-webkit-keyframes antiFloat {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@keyframes antiFloat {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

@-webkit-keyframes textFLoat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

@keyframes textFLoat {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 0.5;
  }
}

.title {
  margin-bottom: 77px;
  font-weight: 700;
  font-size: 23px;
  line-height: 27px;
  text-align: center;
  color: #0066ff;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 19px 51px;
  transition: 0.3s;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.subTitle {
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: var(--text-color);
  opacity: 0.5;
  margin-bottom: 23px;
  transition: 0.3s;
  -webkit-animation-name: textFLoat;
          animation-name: textFLoat;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.listBtn {
  max-width: 420px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  display: flex;
  flex-direction: column;
  gap: 23px;
  margin-bottom: 23px;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.bankCard {
  display: flex;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 20px;
  padding: 13px 25px;
  gap: 17px;
  align-items: center;
  border: 3px solid #ffffff00;
  transition: 0.3s;
  justify-content: flex-start;
}

.active {
  border: 3px solid #0085ff;
}

.sendBtn {
  display: block;
  margin: 0 auto;
  max-width: 288px;
  width: 100%;
  padding-top: 18px;
  padding-bottom: 19px;
  background: #0085ff;
  box-shadow: 0px 4.58333px 4.58333px rgba(0, 0, 0, 0.07);
  border-radius: 17.1875px;
  font-weight: 500;
  font-size: 16.0417px;
  line-height: 19px;
  text-align: center;
  color: #ffffff;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.none {
  display: none;
  /* opacity: 0;
  animation-name: antiFloat;
  animation-duration: 0.3s;
  cursor: auto; */
}

.bankCardTitle {
  font-weight: 600;
  font-size: 16px;
  line-height: 19px;
  color: var(--text-color);
  transition: 0.3s;
}

.bankCardSubTitle {
  font-weight: 500;
  font-size: 13px;
  line-height: 15px;
  color: var(--text-color);
  opacity: 0.3;
  transition: 0.3s;
}

.bankCardText {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 4px;
}

.img {
  width: 58px;
  height: 58px;
}

.bankCardImg rect {
  fill: var(--card-back);
  transition: 0.3s;
}
.bankCardImg path {
  stroke: var(--card-line);
  transition: 0.3s;
}

.bankQiwiImg rect {
  fill: var(--qiwi-back);
  transition: 0.3s;
}

.bankMoneyImg rect {
  fill: var(--money-back);
  transition: 0.3s;
}

@media (max-width: 500px) {
  .bankCard {
    padding: 10.99857px 19.64px;
    border: 1.57143px solid #ffffff00;
  }

  
  
  .active {
    border: 1.57143px solid #0085FF;
  }

  .img svg,
  .img {
    width: 45.57px;
    height: 45.57px;
  }

  .bankCardTitle {
    font-size: 12.5714px;
    line-height: 15px;
  }

  .bankCardSubTitle {
    font-size: 10.2143px;
    line-height: 12px;
  }

  .subTitle {
    font-size: 12.5714px;
  }

  .sendBtn {
    font-size: 16.0417px;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    max-width: none;
    max-width: 330px;
  }

  .listBtn {
    gap: 18.07px;
    margin-bottom: 30.07px;
    max-width: 330px;
  }
  
}
