@-webkit-keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes float {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.about {
  margin-bottom: 110px;
  -webkit-animation-name: float;
          animation-name: float;
  -webkit-animation-duration: 1s;
          animation-duration: 1s;
}

.title {
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  padding: 18px 56px 19px;
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  margin-top: 59px;
  border-radius: 20px;
  margin: 0 auto;
  font-weight: 700;
  line-height: 28px;
  font-size: 23px;
  text-align: center;
  color: #0066ff;
  transition: 0.3s;
  margin-top: 59px;
}

.block {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 75px;
}

.blockLeft {
  background: var(--background-modal);
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.07);
  border-radius: 30px 30px 30px 0px;

  padding: 42px 57px 81px;

  position: relative;

  font-weight: 500;
  font-size: 16px;
  line-height: 160%;
  color: var(--text-color);

  max-width: 513px;
  min-width: 450px;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: flex-end;
  transition: 0.3s;

  margin-top: 70px;
  margin-bottom: 70px;
}

.blockLeftText {
  max-width: 399px;
  margin: 0 auto 0 0;
  text-align: left;
}

.button {
  background: #0071ff;
  border-radius: 0px 18px 18px 18px;
  font-weight: 500;
  font-size: 14px;
  padding: 16px 33px;
  color: #ffffff;
  text-align: right;
  position: absolute;
  bottom: 28px;
  line-height: 160%;
  right: 35px;
}

@media (max-width: 1200px) {
  .block {
    justify-content: center;
  }

  .blockLeft {
    margin: 0;
  }

  .blockRight {
    display: none;
  }

  .title {
    margin-bottom: 69.92px;
    margin-top: 47px;
  }
  
  .about::before {
    content: "";
    width: 549px;
    height: 549px;
    background-image: url("../../../../assets/images/back-about.svg");
    background-repeat: no-repeat;
    background-position: center center;
  }
}

@media (max-width: 830px) {
  .about {
    padding-left: 32px;
    padding-right: 32px;
  }

  .title {
    margin-top: 10px;
  }
}

@media (max-width: 650px) {
  .about {
    margin-bottom: 74px;
  }
  .blockLeft {
    min-width: 320px;
    padding: 27.02px 36.67px 60px;
    line-height: 160%;
  }

  .blockLeftText {
    font-size: 10px;
    line-height: 160%;
  }

  .button {
    padding: 10.29px 21.06px;
    bottom: 18.01px;
    right: 22.51px;
    font-size: 9.00585px;
  }

  .title {
    margin-bottom: 34.76px;
    font-size: 16.5966px;
    line-height: 20px;
    padding: 13.71px 39.35px;
  }
}