body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root[data-theme="light"] {
  --background-color: #FFFFFF;
  --text-color: #192028;
}

:root[data-theme="dark"] {
  --background-color: #192028;
  --text-color: #FFFFFF;
  --background-modal:#232C37;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

