* {
  box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  background: #F0FAFF;
  font-family: 'Rubik';
}

:root[data-theme="light"] {
  --background-modal: #FFFFFF;
  --background-color: #F0FAFF;
  --text-color: #192028;
}

:root[data-theme="dark"] {
  --background-color: #192028;
  --text-color: #FFFFFF;
  --background-modal:#232C37;
}

body {
  background: var(--background-color);
  color: var(--text-color);
}

