* {
  box-sizing: border-box;
}


body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

html,
body {
  height: 100%;
}

body {
  background: #F0FAFF;
  font-family: 'Rubik';
}

:root[data-theme="light"] {
  transition:  0.2s;
  --background-modal: #FFFFFF;
  --background-color: #F0FAFF;
  --background-modal-settings:#FFFFFF;
  --background-modal-settings-btn: #EDEDED;
  --background-post: #dbebff;
  --text-color: #192028;

  --card-back: #ECF4FF;
  --card-line: #292D32;
  --qiwi-back: #FFF4EC;
  --money-back: #F9ECFF;

  --pay-input: #F2F2F2;
  --pay-color: rgba(194, 194, 194, 1);

  --connect-with-us-btn: #D3EAFF;

  --stat-header: #ffffff;

  --stats-item: #FFFFFF;
  --stats-color: rgba(0, 0, 0, 0.2);

  --icon-fill: #292D32;

  --top-filter-back: #D0E5FF;

  --top-header-table: #F0F7FF;
  
  --top-header-item: white;

  --title-acsec: #A6CDFF;
  --title-acsec: #C6DFFF;

  --modal-sclad: #acd7ff;

  --slide-back: #FFFFFF;

  --slide-btn: #FFFFFF;
  --slide-arrow: #2D264B;

  --info-border-top: #D9D9D9;
  --info-btn-input: #7BB6FF;
  --info-checkbox: #BEDBFF;

  --modal-complete-back: #A0FFD2;
  --modal-fatal-back: #FFA4A4;

  --modal-close-btn-back: #D9D9D9;
  --modal-close-btn-icon: #000000;
}

:root[data-theme="dark"] {
  transition:  0.2s;
  --background-color: #192028;
  --text-color: #FFFFFF;
  --background-modal:#232C37;
  --background-modal-settings:#2A3441;
  --background-modal-settings-btn:#364251;
  --background-post: #243A54;

  --card-back: #2E3744;
  --card-line: #FFFFFF;
  --qiwi-back: #463427;
  --money-back: #3F274A;

  --pay-input: #2A3440;
  --pay-color: rgba(85, 93, 102, 1);

  --connect-with-us-btn: #1C3554;

  --stat-header: #29394D;

  --stats-item: #223E62;
  --stats-color: rgba(255, 255, 255, 1);

  --icon-fill: white;
  
  --top-filter-back: #20354F;
  
  --top-header-table: #263F5F;

  --top-header-item: #223E62;

  --title-acsec1: #20436F;
  --title-acsec2: #1A3658;

  --modal-sclad: #007DF1;

  --slide-back: #232C37;

  --slide-btn: #323E4E;
  --slide-arrow: #FFFFFF;

  --info-border-top: #3c3c3c;
  --info-btn-input: #1f3c61;
  --info-checkbox: #1e334e;

  --modal-complete-back: #1F4F38;
  --modal-fatal-back: #611E1E;

  --modal-close-btn-back: #313D4C;
  --modal-close-btn-icon: #FFFFFF;
}

li.ant-rate-star-zero svg {
  fill: #BED1EA!important;
}

body {
  background: var(--background-color);
  color: var(--text-color);
  transition:  0.3s;
}

