.nav {
  max-width: 100%;
  width: 100%;
}

.span {
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  transition: 0.3s;

  color: var(--text-color);

  margin-left: auto;
}

.nav .navBlock {
  display: flex;
  flex-direction: column;
  gap: 10px;

  max-width: 100%;
  width: 100%;
}

.footerBlock {
  display: flex;
  gap: 37px;
}

.nav a {
  text-decoration: none;
  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;
  color: var(--text-color);
  transition:  0.3s;
}

.nav .navBlock .child {
  display: none;

  font-family: 'Rubik';
  font-style: normal;
  font-weight: 600;
  font-size: 15px;
  line-height: 18px;

  color: #000000;
}

@media (max-width: 810px) {
  .nav .navBlock {
    display: flex;
    flex-direction: row;
    gap: 10px;
  }

  .footerBlock {
    gap: 6.8px;
    flex-direction: column;
  }

  .nav .navBlock .child {
    display: block;
  }

  .span {
    margin-left: 0;
  }

  .linkPhone {
    display: flex;
    flex-direction: row;
    gap: 25px;
  }
}

@media (max-width: 520px) {
  .nav .navBlock .child {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  .nav a {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  .span {
    font-size: 12px;
    line-height: 14px;
    font-weight: 500;
  }

  .linkPhone {
    display: flex;
    flex-direction: row;
    gap: 15px;
  }
}